html::-webkit-scrollbar {
    display: none;
}
html {
-ms-overflow-style: none; 
  scrollbar-width: none;  
}
.navbar-inner {
    background:transparent;
}
p {
    text-align : justify;
}
.link-style {
    text-decoration: none;
    font-weight: bolder;
}
.vertical-timeline-element-date {
    color: #000;
}
.table td, .table th {
    text-align: center;
    vertical-align: middle;
}
pre {
    background: "#0021";
    border-radius: "3px";
    padding: "5px";
    box-shadow: "5px 10px 8px #888888";
    
}


